---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Project from "../components/Project.astro";

import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import projects from "../data/projects.json";
---

<!doctype html>
<html lang="en-us">
  <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  <body>
    <Header />
    <main>
      <content>
        <ul class="projects-list">
          {
            Object.entries(projects).map(([key, project]) => (
              <Project key={key} name={key} {...project} />
            ))
          }
        </ul>
      </content>
      <Footer />
    </main>
  </body>
</html>

<style>
  .projects-list {
    padding: 0;
    margin: 2rem 0;
  }
</style>
