---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Post from "../components/Post.astro";

import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
---

<!doctype html>
<html lang="en-us">
  <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  <body>
    <Header />
    <main>projects</main>
    <Footer />
  </body>
</html>
