---
const today = new Date();
---

<footer>
  {today.getFullYear()} mray. → <a href="https://github.com/mjr2595/blogolio"
    >github</a
  >
  <a href="https://www.linkedin.com/in/mjraymond">linkedin</a>
  <a href="https://bsky.app/profile/mray.bsky.social">bluesky</a>
</footer>
<style>
  footer {
    padding: 25px;
    text-align: center;
    font-size: 0.8rem;
  }
</style>
