<nav aria-label="webring" class="gap-2 pb-4 text-center">
  <a href="https://webring.jacobasper.com/prev/mray">
    <span aria-hidden="true">&lt;-</span>prev
  </a>
  <a href="https://webring.jacobasper.com/"> Really Cool Blogger Web Ring </a>
  <a href="https://webring.jacobasper.com/next/mray">
    next<span aria-hidden="true">-&gt;</span>
  </a>
</nav>
<style>
  nav[aria-label="webring"] {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
  }
  nav[aria-label="webring"] a {
    text-decoration: none;
    font-size: 1rem;
    padding: 2px 4px;
    border-radius: 3px;
  }
  nav[aria-label="webring"] a:hover {
    text-decoration: underline;
  }
</style>
